body {
  background: royalblue;
}

a {
  color: silver;
}

a:hover {
  color: #8d8d8d;
}

a:active {
  color: orange;
}

.box {
<<<<<<< HEAD
  background: blue;
=======
  background: magenta;
>>>>>>> 68caac5566bd7f64efd2db63c7d0f7b0d5e77d88
  display: block;
  width: 100%;
}


.list-item {
  list-style: none;
  margin: 15px;
}
