body {
  background: royalblue;
}

a {
  color: silver;
}

a:hover {
  color: #8d8d8d;
}

a:active {
  color: orange;
}

.box {
  background: cyan;
  display: block;
  width: 100%;
}


.list-item {
  list-style: none;
  margin: 15px;
}