body {
  background: rgb(76, 79, 80);
}

a {
  color: silver;
}

a:hover {
  color: #8d8d8d;
}

a:active {
  color: orange;
}

.box1 {
  background: green;
  display: flex;
  width: 30%;
}

.box2 {
  background: #12e4f3;
  display: flex;
  width: 30%;
}

.list-item {
  list-style: none;
  border: 1px solid yellow;
  margin: 15px;
}

.list-item__selected {
  list-style: none;
  background-color: orange;
}