:root {
  --sec: 10s;
  --y-cloud: 40vh;
  --x-cloud: 100vw;
  --width-cloud: 50vw;
  --height-cloud: 50vh;
}

body {
width: 100vw;
height: 100vh;
background: maroon;
  
}
.line {
  background: yellow;
}


.clouds {
    display: flex;
   justify-content:center;
   
}

.left {

  transform: scale(-1, 1);

}

.div-left {
  width: var(--width-cloud);
  height: var(--height-cloud);
  z-index: 10;
  animation: move-left var(--sec) forwards;

}

img {
  vertical-align: top;
}


.right {}


.div-right {
  top: 0vh;
  left: 49vw;
  width: var(--width-cloud);
  height: var(--height-cloud);
  animation: move-right var(--sec) forwards;
  z-index: 1
}

@keyframes move-right {
  0% {
    transform: translateY(calc(var(--y-cloud)*-1));

  }

  30% {
    transform: translateY(var(--y-cloud));
  }

  100% {
    transform: translate(calc(var(--x-cloud)*1), var(--y-cloud));
  }

}

@keyframes move-left {
  0% {
    transform: translateY(calc(var(--y-cloud)*-1));
    ;
  }

  30% {
    transform: translateY(var(--y-cloud));
  }

  100% {

    transform: translate(calc(var(--x-cloud)*-1), var(--y-cloud));
  }

}
